<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722918725757-0al6u01oqu655c8b39eukir8jdgevqkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722918725757-0al6u01oqu655c8b39eukir8jdgevqkr</string>
	<key>API_KEY</key>
	<string>AIzaSyBjhMivHtQO9mI6nHTHELb-p7Y5jJiSIW4</string>
	<key>GCM_SENDER_ID</key>
	<string>722918725757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toyideaSmartphoneApp</string>
	<key>PROJECT_ID</key>
	<string>toyidea-smartphone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>toyidea-smartphone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722918725757:ios:064e1e63f82c2ac8c23914</string>
</dict>
</plist>